:root {
  --color-neutral-50: 250, 251, 255;
  --color-neutral-100: 244, 247, 252;
  --color-neutral-200: 231, 237, 246;
  --color-neutral-300: 208, 219, 235;
  --color-neutral-400: 160, 176, 198;
  --color-neutral-500: 121, 140, 166;
  --color-neutral-600: 87, 106, 132;
  --color-neutral-700: 62, 79, 103;
  --color-neutral-800: 42, 57, 79;
  --color-neutral-900: 28, 38, 56;

  --color-primary-50: 237, 246, 255;
  --color-primary-100: 216, 234, 255;
  --color-primary-200: 186, 219, 255;
  --color-primary-300: 148, 199, 255;
  --color-primary-400: 111, 177, 252;
  --color-primary-500: 78, 152, 241;
  --color-primary-600: 58, 126, 214;
  --color-primary-700: 47, 103, 176;
  --color-primary-800: 44, 82, 138;
  --color-primary-900: 35, 63, 105;

  --color-secondary-50: 239, 244, 255;
  --color-secondary-100: 223, 233, 255;
  --color-secondary-200: 198, 213, 253;
  --color-secondary-300: 168, 189, 247;
  --color-secondary-400: 135, 163, 235;
  --color-secondary-500: 106, 137, 220;
  --color-secondary-600: 84, 112, 196;
  --color-secondary-700: 70, 92, 165;
  --color-secondary-800: 57, 74, 132;
  --color-secondary-900: 43, 57, 100;
}
